In [1]:
# 把網圖型資料與地點位置結合

In [230]:
%matplotlib inline

In [231]:
import pandas as pd
from pathlib import Path
import collections 
import numpy as np
import json
import dask.dataframe as dd
import time
import zipfile as zfile
import threading
import datetime as dt

In [232]:
df_fn = []
zf = zfile.ZipFile('../../POSTDB.zip')
for fname in zfile.ZipFile.namelist(zf):
    df_fn.append(fname.encode('cp437').decode('big5'))
df_fn

['TTS1.csv']

In [234]:
# 載入特種郵件追蹤查詢資料檔
zf = zfile.ZipFile('../../POSTDB.zip')
df = pd.read_csv(zf.open('TTS1.csv'), # 檔案位置
                 header=None, # 首行是否有欄位名稱
                 encoding="big5", # 編碼
                 # dtype = "str", # 資料類型
                 nrows = 50000, #讀取行數
                 names = ["Status_code", "Mail_num", "Mail_date", "Mail_time", "OP_office", "other"] # 欄位名稱
                )

In [235]:
df['Mail_datetime'] = df.Mail_date+" "+df.Mail_time
df.Mail_datetime = pd.to_datetime(df.Mail_datetime)

In [236]:
# 要執行以下程式時，需重載資料
# df['Mail_datetime'] = pd.to_datetime(df.Mail_date + " " + df.Mail_time)
del df['Mail_date']
del df['Mail_time']
del df['other']

In [237]:
mail_df = df.sort_values(["Mail_num", "Mail_datetime"])

In [238]:
df.set_index(["Mail_num", "OP_office"], inplace=True)

In [239]:
df.sort_values(["Mail_num", "Mail_datetime"])

                               Status_code       Mail_datetime
Mail_num             OP_office
00000000000000       330031             Y4 2018-01-01 09:49:04
                     330031             Y4 2018-01-01 09:58:08
                     330031             I4 2018-01-01 14:11:51
                     330031             Y4 2018-01-01 14:23:32
                     330031             I4 2018-01-01 14:52:09
                     330031             I4 2018-01-01 16:15:52
                     900030             Y4 2018-01-02 08:23:15
                     500055             Y4 2018-01-02 08:41:51
                     100029             G2 2018-01-02 09:20:00
                     900030             I4 2018-01-02 14:06:24
                     500055             I4 2018-01-02 14:58:34
                     330031             Y4 2018-01-02 16:29:54
                     330031             I4 2018-01-02 16:41:41
00000000000018       640026             Y4 2018-01-02 08:33:32
                     640026             I4 2018-01-02 12:14:18
00000100000018       640026             Y4 2018-01-02 08:34:02
                     640026             I4 2018-01-02 12:14:18
00000100081117       830024             H4 2018-01-02 13:26:12
00000200023517       220026             G2 2018-01-02 10:16:00
00000410025400       100564             P5 2018-01-01 06:51:07
00000900081117       800586             Y4 2018-01-02 08:20:51
                     800586             I4 2018-01-02 15:33:20
00001130205103       300051             A1 2018-01-02 10:40:00
00001410725500       100564             P5 2018-01-01 06:50:56
00001510725500       100564             P5 2018-01-01 06:50:54
00001810725500       100564             P5 2018-01-01 06:50:49
00003600081117       830584             Y4 2018-01-02 08:36:10
                     830584             I4 2018-01-02 13:39:50
00004000081117       830021             Y4 2018-01-02 08:38:12
                     830021             I4 2018-01-02 15:23:56
...                                    ...                 ...
99170500100170       800451             A1 2018-01-02 20:14:00
                     800672             Z4 2018-01-02 22:21:59
99181600100870       640032             A1 2018-01-02 14:46:00
99191700100670       100602             Y4 2018-01-02 08:33:55
                     100602             I4 2018-01-02 13:48:23
99234200101570       220600             Y4 2018-01-02 08:28:31
                     220600             I4 2018-01-02 19:04:46
99264124105618       260000             I4 2018-01-01 07:45:00
                     260000             I4 2018-01-01 13:09:00
99281500100770       100601             W2 2018-01-02 20:20:46
                     100601             I4 2018-01-02 22:27:04
99364500100770       540022             Y4 2018-01-02 13:27:00
                     540022             I4 2018-01-02 13:32:31
99443400100070       320030             Y4 2018-01-02 08:26:36
                     320030             I4 2018-01-02 10:12:23
99446600101570       100006             A1 2018-01-02 17:30:00
99467400101570       360029             Y4 2018-01-02 08:06:46
                     360029             H4 2018-01-02 14:01:02
99469500100270       950011             A1 2018-01-02 14:09:00
                     950580             Z4 2018-01-02 17:48:00
99573900100470       300583             Y4 2018-01-02 08:05:04
                     300583             I4 2018-01-02 17:08:27
99653900101570       220077             A1 2018-01-02 11:52:00
99654100100370       100082             A1 2018-01-02 10:13:00
99656900101470       800451             A1 2018-01-02 15:18:00
                     800672             Z4 2018-01-02 18:10:59
99692600101570       100090             A1 2018-01-02 09:54:00
                     91814              Z4 2018-01-02 14:44:11
99751300101370       830016             A1 2018-01-02 16:07:00
                     800672             Z4 2018-01-02 21:06:05

[50000 rows x 2 columns]

In [240]:
df.reset_index()

                   Mail_num  OP_office Status_code       Mail_datetime
0      00000000000000           330031          Y4 2018-01-01 09:49:04
1      00000000000000           330031          Y4 2018-01-01 09:58:08
2      00000000000000           330031          I4 2018-01-01 14:11:51
3      00000000000000           330031          Y4 2018-01-01 14:23:32
4      00000000000000           330031          I4 2018-01-01 14:52:09
5      00000000000000           330031          I4 2018-01-01 16:15:52
6      58668700100170           100250          Y4 2018-01-01 11:06:44
7      59928400100170           220014          I3 2018-01-01 21:10:45
8      75233300100170           704583          P5 2018-01-01 05:30:09
9      19491400101070           320008          A3 2018-01-01 21:40:46
10     84509600101270           500584          A3 2018-01-01 16:40:44
11     96513700101370           100250          Y4 2018-01-01 10:59:45
12     01576100101470           880580          Z4 2018-01-01 12:03:53
13     96114600101570           880580          Z4 2018-01-01 13:04:05
14     14752700101670           420584          Z4 2018-01-01 14:48:17
15     10362200101870           320000          A3 2018-01-01 22:40:46
16     48684100101870           420584          Z4 2018-01-01 14:47:57
17     23799000101970           500600          P4 2018-01-01 21:57:12
18     92557900101970           100250          Y4 2018-01-01 10:57:30
19     82460500102170           100250          Y4 2018-01-01 10:59:52
20     98520700102570           100257          V4 2018-01-01 18:02:00
21     98520900102570           100257          V4 2018-01-01 18:03:00
22     98521100102570           100257          V4 2018-01-01 18:02:00
23     98521300102570           100257          V4 2018-01-01 18:02:00
24     61353900102870           420584          Z4 2018-01-01 14:47:13
25     72423900102970           500600          P4 2018-01-01 21:57:50
26     79068700102970           100250          Y4 2018-01-01 11:00:50
27     32588100103170           100250          Y4 2018-01-01 10:58:12
28     76287300103170           420009          Y4 2018-01-01 15:55:09
29     76287300103170           420009          H4 2018-01-01 17:11:26
...                     ...        ...         ...                 ...
49970  20684370702716           830065          I4 2018-01-02 12:45:19
49971  20684470702716           830600          Y4 2018-01-02 08:33:43
49972  20684470702716           830600          I4 2018-01-02 14:01:22
49973  20684570702716           704600          Y4 2018-01-02 08:33:27
49974  20684570702716           704600          I4 2018-01-02 15:22:00
49975  20684670702716           704600          Y4 2018-01-02 08:42:14
49976  20684670702716           704600          I4 2018-01-02 18:03:56
49977  20684770702716           800672          Z4 2018-01-02 03:32:14
49978  20684770702716           800585          Y4 2018-01-02 07:53:12
49979  20684770702716           800585          I4 2018-01-02 13:24:43
49980  20684870702716           600052          Y4 2018-01-02 09:01:57
49981  20684870702716           600052          I4 2018-01-02 14:18:32
49982  20684970702716           100589          Y4 2018-01-02 09:11:24
49983  20684970702716           100589          I4 2018-01-02 15:01:15
49984  20685070702716           100581          Y4 2018-01-02 09:06:39
49985  20685070702716           100581          I4 2018-01-02 14:47:58
49986  20685170702716           400589          Y4 2018-01-02 08:57:23
49987  20685170702716           400589          I4 2018-01-02 17:51:53
49988  20685270702716           800672          Z4 2018-01-02 03:32:17
49989  20685270702716           830065          Y4 2018-01-02 08:35:49
49990  20685270702716           830065          I4 2018-01-02 16:08:59
49991  20685370702716           704600          Y4 2018-01-02 08:42:56
49992  20685370702716           704600          H4 2018-01-02 13:41:23
49993  20685470702716           704020          Y4 2018-01-02 09:34:21
49994  20685470702716           704020          I4 2018-01-02 15:18:01
49995  20685570702716           704020          Y4 2018-01-02 08:38:19
49996  20685570702716           704020          I4 2018-01-02 14:47:20
49997  20685670702716           830062          Y4 2018-01-02 07:49:18
49998  20685670702716           830062          I4 2018-01-02 12:04:59
49999  20685770702716           830062          Y4 2018-01-02 08:13:59

[50000 rows x 4 columns]

In [241]:
# 載入郵局資料檔
post_office = pd.read_csv("../../fychao/Post_All_new.csv")
new_po = post_office[["郵務局號", "局名", "緯度", "經度"]]
new_po.columns = ["post_code", "name", "lon", "lat"]
po_dict = new_po.set_index("post_code").to_dict()

In [242]:
# 輸入郵務局號，回傳經緯度座標
def getPOInfo(post_code):
    if isPOCode(post_code):
        return (po_dict['Name'][post_code],
                po_dict['lon'][post_code],
                po_dict['lat'][post_code])
    else:
        return ("","","")

In [243]:
# 判斷郵務局號是否存在
unique_po_code = set(po_dict['name'].keys())
def isPOCode(post_code):
    if post_cod in nuique_po_code:
        return True
    else:
        return False

In [245]:
# 整合郵件資料的郵號與地點

# start_time = time.time()

all_mail = {}
all_mail_key = set()
for idx, row in df.iterrows():
    mail_code = row.Mail_num.strip()
    if not mail_code in all_mail_key:
        all_mail[mail_code] = []
        all_mail_key.add(mail_code)
        
    all_mail[mail_code].append( (row.OP_office, row.Mail_datetime, row.Status_code) )
    
# time_diff = time.time() - start_time
# print("處理 ",len(df), "筆資料，組成 ", len(all_mail.keys()), " 筆資料，共執行：", time_diff, "秒")

AttributeError: 'Series' object has no attribute 'Mail_num'

In [218]:
def convert_2_edge(mail_status):
    edges = []
    for idx in range(len(mail_status) - 1):
        edges.append((mail_status[idx][0], mail_status[idx + 1][0],
                     mail_status[idx][2], mail_status[idx + 1][2]))
        
    return edges

In [221]:
all_edges = [] 
for mail_code in all_mail:
    status_num = len(all_mail[mail_code])
    
    if (status_num) > 1:
        mail_status = all_mail[mail_code]
        all_edges.extend(convert_2_edge(mail_status))

In [222]:
src_nodes = set([ ele[0] for ele in all_edges])
tar_nodes = set([ ele[1] for ele in all_edges]) 
all_nodes = list(src_nodes.union(tar_nodes))

In [223]:
print(len(src_nodes), len(tar_nodes), len(all_nodes))

0 0 0

In [229]:
getPOInfo(all_nodes[12])

IndexError: list index out of range

In [226]:
import simplekml
kml = simplekml.Kml()

In [227]:
for x in all_edges[:3]:
    src, target, src_state, target_state = x
    if isPOCode(src) and isPOCode(target):
        src_pnt = getPOInfo(src)
        tar_pnt = getPOInfo(target)
        
        # point
        kml.newpoint(name=str(src), 
                     description=src_pnt[0],
                     coords=[(src_pnt[2],src_pnt[1])])
        kml.newpoint(name=str(target), 
                     description=tar_pnt[0],
                     coords=[(tar_pnt[2],tar_pnt[1])])
        
        
        # line
        kml.newlinestring(
            name="Pathway", 
            description="%s to %s"%(src_pnt[0],tar_pnt[0]) ,
            coords=[(src_pnt[2],src_pnt[1]), 
                    (tar_pnt[2],tar_pnt[1])])

In [ ]:
kml.save("test.kml")