In [1]:
%matplotlib inline

In [2]:
import pandas as pd

In [21]:
df = pd.read_csv("TTS1.csv", header=None , encoding="big5")

In [22]:
df.columns = ["Status_code", "Mail_num", "Mail_date", 
             "Mail_time", "OP_office", "other"]

In [23]:
df['Mail_datetime'] = df.Mail_date+" "+df.Mail_time
df.Mail_datetime = pd.to_datetime(df.Mail_datetime)

In [24]:
del df['Mail_date']
del df['Mail_time']
del df['other']

In [25]:
mail_df = df.sort_values(["Mail_num", "Mail_datetime"])

df.set_index(["Mail_num", "OP_office"], inplace=True)

In [26]:
df.sort_values(["Mail_num", "Mail_datetime"])

     Status_code              Mail_num  OP_office       Mail_datetime
0             Y4  00000000000000           330031 2018-01-01 09:49:04
1             Y4  00000000000000           330031 2018-01-01 09:58:08
2             I4  00000000000000           330031 2018-01-01 14:11:51
3             Y4  00000000000000           330031 2018-01-01 14:23:32
4             I4  00000000000000           330031 2018-01-01 14:52:09
5             I4  00000000000000           330031 2018-01-01 16:15:52
888           Y4  00000000000000           900030 2018-01-02 08:23:15
889           Y4  00000000000000           500055 2018-01-02 08:41:51
890           G2  00000000000000           100029 2018-01-02 09:20:00
891           I4  00000000000000           900030 2018-01-02 14:06:24
892           I4  00000000000000           500055 2018-01-02 14:58:34
893           Y4  00000000000000           330031 2018-01-02 16:29:54
894           I4  00000000000000           330031 2018-01-02 16:41:41
895           Y4  00000000000018           640026 2018-01-02 08:33:32
896           I4  00000000000018           640026 2018-01-02 12:14:18
897           Y4  00000100000018           640026 2018-01-02 08:34:02
898           I4  00000100000018           640026 2018-01-02 12:14:18
949           H4  00000100081117           830024 2018-01-02 13:26:12
947           G2  00000200023517           220026 2018-01-02 10:16:00
447           P5  00000410025400           100564 2018-01-01 06:51:07
950           Y4  00000900081117           800586 2018-01-02 08:20:51
951           I4  00000900081117           800586 2018-01-02 15:33:20
1067          A1  00001130205103           300051 2018-01-02 10:40:00
149           P5  00001410725500           100564 2018-01-01 06:50:56
150           P5  00001510725500           100564 2018-01-01 06:50:54
151           P5  00001810725500           100564 2018-01-01 06:50:49
952           Y4  00003600081117           830584 2018-01-02 08:36:10
953           I4  00003600081117           830584 2018-01-02 13:39:50
954           Y4  00004000081117           830021 2018-01-02 08:38:12
955           I4  00004000081117           830021 2018-01-02 15:23:56
...          ...                   ...        ...                 ...
593           W2  98329340004770505453     500027 2018-01-01 13:35:24
290           Z4  98402373000020320003     330585 2018-01-01 16:37:19
291           Z4  98413673000020100004     330585 2018-01-01 16:38:47
815           I4  98425970401310350001     360023 2018-01-01 17:10:30
65            Y4  98455600104070           330585 2018-01-01 14:19:24
66            I4  98455600104070           330585 2018-01-01 14:52:47
20            V4  98520700102570           100257 2018-01-01 18:02:00
21            V4  98520900102570           100257 2018-01-01 18:03:00
22            V4  98521100102570           100257 2018-01-01 18:02:00
23            V4  98521300102570           100257 2018-01-01 18:02:00
9028          Y4  98590700100370           241584 2018-01-02 08:11:03
9029          I4  98590700100370           241584 2018-01-02 11:50:18
9030          A1  98590800100370           100131 2018-01-02 09:33:00
9031          A1  98590900100370           100131 2018-01-02 09:32:00
7878          A1  98625800100270           950016 2018-01-02 13:33:00
7879          Z4  98625800100270           950580 2018-01-02 17:01:11
619           Y4  98825442003970892503     100250 2018-01-01 11:01:25
880           I4  98939826002910265003     260025 2018-01-01 00:00:00
9032          A1  99042600100370           100062 2018-01-02 10:08:00
6608          A1  99080100100170           800451 2018-01-02 09:10:00
6609          Z4  99080100100170           800672 2018-01-02 22:24:21
6610          A1  99170500100170           800451 2018-01-02 20:14:00
6611          Z4  99170500100170           800672 2018-01-02 22:21:59
694           I4  99264124105618           260000 2018-01-01 07:45:00
695           I4  99264124105618           260000 2018-01-01 13:09:00
1987          Y4  99443400100070           320030 2018-01-02 08:26:36
1988          I4  99443400100070           320030 2018-01-02 10:12:23
7880          A1  99469500100270           950011 2018-01-02 14:09:00
7881          Z4  99469500100270           950580 2018-01-02 17:48:00
9033          A1  99654100100370           100082 2018-01-02 10:13:00

[10000 rows x 4 columns]

In [27]:
df.reset_index()

      index Status_code              Mail_num  OP_office       Mail_datetime
0         0          Y4  00000000000000           330031 2018-01-01 09:49:04
1         1          Y4  00000000000000           330031 2018-01-01 09:58:08
2         2          I4  00000000000000           330031 2018-01-01 14:11:51
3         3          Y4  00000000000000           330031 2018-01-01 14:23:32
4         4          I4  00000000000000           330031 2018-01-01 14:52:09
5         5          I4  00000000000000           330031 2018-01-01 16:15:52
6         6          Y4  58668700100170           100250 2018-01-01 11:06:44
7         7          I3  59928400100170           220014 2018-01-01 21:10:45
8         8          P5  75233300100170           704583 2018-01-01 05:30:09
9         9          A3  19491400101070           320008 2018-01-01 21:40:46
10       10          A3  84509600101270           500584 2018-01-01 16:40:44
11       11          Y4  96513700101370           100250 2018-01-01 10:59:45
12       12          Z4  01576100101470           880580 2018-01-01 12:03:53
13       13          Z4  96114600101570           880580 2018-01-01 13:04:05
14       14          Z4  14752700101670           420584 2018-01-01 14:48:17
15       15          A3  10362200101870           320000 2018-01-01 22:40:46
16       16          Z4  48684100101870           420584 2018-01-01 14:47:57
17       17          P4  23799000101970           500600 2018-01-01 21:57:12
18       18          Y4  92557900101970           100250 2018-01-01 10:57:30
19       19          Y4  82460500102170           100250 2018-01-01 10:59:52
20       20          V4  98520700102570           100257 2018-01-01 18:02:00
21       21          V4  98520900102570           100257 2018-01-01 18:03:00
22       22          V4  98521100102570           100257 2018-01-01 18:02:00
23       23          V4  98521300102570           100257 2018-01-01 18:02:00
24       24          Z4  61353900102870           420584 2018-01-01 14:47:13
25       25          P4  72423900102970           500600 2018-01-01 21:57:50
26       26          Y4  79068700102970           100250 2018-01-01 11:00:50
27       27          Y4  32588100103170           100250 2018-01-01 10:58:12
28       28          Y4  76287300103170           420009 2018-01-01 15:55:09
29       29          H4  76287300103170           420009 2018-01-01 17:11:26
...     ...         ...                   ...        ...                 ...
9970   9970          I4  03309940100918           100572 2018-01-02 13:32:55
9971   9971          A1  03310040100918           400009 2018-01-02 15:57:00
9972   9972          A1  03310140100918           400009 2018-01-02 15:57:00
9973   9973          A1  03310240100918           400009 2018-01-02 15:57:00
9974   9974          A1  03310340100918           400009 2018-01-02 15:57:00
9975   9975          Y4  03446840100918           400584 2018-01-02 08:14:21
9976   9976          I4  03446840100918           400584 2018-01-02 12:57:59
9977   9977          Y4  03446940100918           400589 2018-01-02 09:44:54
9978   9978          I4  03446940100918           400589 2018-01-02 17:53:28
9979   9979          Y4  03447040100918           400047 2018-01-02 10:06:55
9980   9980          I4  03447040100918           400047 2018-01-02 14:33:49
9981   9981          Y4  03447140100918           400589 2018-01-02 08:40:19
9982   9982          I4  03447140100918           400589 2018-01-02 12:38:44
9983   9983          Y4  03447240100918           100598 2018-01-02 09:16:59
9984   9984          I4  03447240100918           100598 2018-01-02 13:17:52
9985   9985          Y4  03447340100918           400584 2018-01-02 07:43:25
9986   9986          I4  03447340100918           400584 2018-01-02 15:50:42
9987   9987          Y4  03447440100918           200600 2018-01-02 09:13:08
9988   9988          I4  03447440100918           200600 2018-01-02 13:26:48
9989   9989          Z4  03447540100918           420032 2018-01-02 06:31:36
9990   9990          Y4  03447540100918           420037 2018-01-02 09:26:40
9991   9991          I4  03447540100918           420037 2018-01-02 14:41:45
9992   9992          Y4  03447640100918           400584 2018-01-02 07:21:37
9993   9993          I4  03447640100918           400584 2018-01-02 15:50:44
9994   9994          Y4  03447740100918           830600 2018-01-02 08:37:57
9995   9995          I4  03447740100918           830600 2018-01-02 14:39:43
9996   9996          A1  05579140100916           400009 2018-01-02 16:46:00
9997   9997          Z4  05579140100916           400672 2018-01-02 21:16:18
9998   9998          A1  05579240100916           400009 2018-01-02 16:46:00
9999   9999          Z4  05579240100916           400672 2018-01-02 20:30:37

[10000 rows x 5 columns]

In [28]:
post_office = pd.read_csv("../../fychao/Post_All_new.csv")

In [29]:
new_po = post_office[["郵務局號", "局名", "緯度", "經度"]]

In [30]:
new_po.columns=["post_code", "name", "lon", "lat"]

In [31]:
po_dict = new_po.set_index("post_code").to_dict()

In [32]:
def getPOInfo(post_code):
    if isPOCode(post_code):
        return (po_dict['name'][post_code],
                po_dict['lon'][post_code],
                po_dict['lat'][post_code] )
    else:
        return ("%s"%(post_code), "", "")

In [33]:
unique_po_code = set(po_dict['name'].keys())
def isPOCode(post_code):
    if post_code in unique_po_code:
        return True
    else:
        return False

In [34]:
getPOInfo(420584)

('420584', '', '')

In [35]:
all_mail = {}
all_mail_key = set()
for idx, row in df.iterrows():
    mail_code = row.Mail_num.strip()
    if not mail_code in all_mail_key:
        all_mail[mail_code] = []
        all_mail_key.add(mail_code)
        
    all_mail[mail_code].append( (row.OP_office, row.Mail_datetime, row.Status_code) )

In [36]:
def convert_2_edge(mail_status):
    edges = []
    for idx in range(len(mail_status)-1):
        edges.append( ( mail_status[idx][0], mail_status[idx+1][0], 
                      mail_status[idx][2], mail_status[idx+1][2]))
        
    return edges
# "Y4" -> "H4", 
# "H4" -> "Z2"

mail_status = all_mail['96410700000070']
convert_2_edge(mail_status)

[(540028, 540028, 'Y4', 'Y4'),
 (540028, 540028, 'Y4', 'I4'),
 (540028, 540028, 'I4', 'I4')]