In [1]:
%matplotlib inline

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("TTS1.csv", header=None , encoding="big5")

In [4]:
df.columns = ["Status_code", "Mail_num", "Mail_date", 
             "Mail_time", "OP_office", "other"]

In [5]:
df['Mail_datetime'] = df.Mail_date+" "+df.Mail_time
df.Mail_datetime = pd.to_datetime(df.Mail_datetime)

In [6]:
del df['Mail_date']
del df['Mail_time']
del df['other']

In [7]:
mail_df = df.sort_values(["Mail_num", "Mail_datetime"])

In [8]:
df.set_index(["Mail_num", "OP_office"], inplace=True)

In [9]:
df.sort_values(["Mail_num", "Mail_datetime"])

                               Status_code       Mail_datetime
Mail_num             OP_office
00000000000000       330031             Y4 2018-01-01 09:49:04
                     330031             Y4 2018-01-01 09:58:08
                     330031             I4 2018-01-01 14:11:51
                     330031             Y4 2018-01-01 14:23:32
                     330031             I4 2018-01-01 14:52:09
                     330031             I4 2018-01-01 16:15:52
                     900030             Y4 2018-01-02 08:23:15
                     500055             Y4 2018-01-02 08:41:51
                     100029             G2 2018-01-02 09:20:00
                     900030             I4 2018-01-02 14:06:24
                     500055             I4 2018-01-02 14:58:34
                     330031             Y4 2018-01-02 16:29:54
                     330031             I4 2018-01-02 16:41:41
00000000000018       640026             Y4 2018-01-02 08:33:32
                     640026             I4 2018-01-02 12:14:18
00000100000018       640026             Y4 2018-01-02 08:34:02
                     640026             I4 2018-01-02 12:14:18
00000100081117       830024             H4 2018-01-02 13:26:12
00000200023517       220026             G2 2018-01-02 10:16:00
00000410025400       100564             P5 2018-01-01 06:51:07
00000900081117       800586             Y4 2018-01-02 08:20:51
                     800586             I4 2018-01-02 15:33:20
00001130205103       300051             A1 2018-01-02 10:40:00
00001410725500       100564             P5 2018-01-01 06:50:56
00001510725500       100564             P5 2018-01-01 06:50:54
00001810725500       100564             P5 2018-01-01 06:50:49
00003600081117       830584             Y4 2018-01-02 08:36:10
                     830584             I4 2018-01-02 13:39:50
00004000081117       830021             Y4 2018-01-02 08:38:12
                     830021             I4 2018-01-02 15:23:56
...                                    ...                 ...
98329340004770505453 500027             W2 2018-01-01 13:35:24
98402373000020320003 330585             Z4 2018-01-01 16:37:19
98413673000020100004 330585             Z4 2018-01-01 16:38:47
98425970401310350001 360023             I4 2018-01-01 17:10:30
98455600104070       330585             Y4 2018-01-01 14:19:24
                     330585             I4 2018-01-01 14:52:47
98520700102570       100257             V4 2018-01-01 18:02:00
98520900102570       100257             V4 2018-01-01 18:03:00
98521100102570       100257             V4 2018-01-01 18:02:00
98521300102570       100257             V4 2018-01-01 18:02:00
98590700100370       241584             Y4 2018-01-02 08:11:03
                     241584             I4 2018-01-02 11:50:18
98590800100370       100131             A1 2018-01-02 09:33:00
98590900100370       100131             A1 2018-01-02 09:32:00
98625800100270       950016             A1 2018-01-02 13:33:00
                     950580             Z4 2018-01-02 17:01:11
98825442003970892503 100250             Y4 2018-01-01 11:01:25
98939826002910265003 260025             I4 2018-01-01 00:00:00
99042600100370       100062             A1 2018-01-02 10:08:00
99080100100170       800451             A1 2018-01-02 09:10:00
                     800672             Z4 2018-01-02 22:24:21
99170500100170       800451             A1 2018-01-02 20:14:00
                     800672             Z4 2018-01-02 22:21:59
99264124105618       260000             I4 2018-01-01 07:45:00
                     260000             I4 2018-01-01 13:09:00
99443400100070       320030             Y4 2018-01-02 08:26:36
                     320030             I4 2018-01-02 10:12:23
99469500100270       950011             A1 2018-01-02 14:09:00
                     950580             Z4 2018-01-02 17:48:00
99654100100370       100082             A1 2018-01-02 10:13:00

[10000 rows x 2 columns]

In [10]:
df.reset_index()

                  Mail_num  OP_office Status_code       Mail_datetime
0     00000000000000           330031          Y4 2018-01-01 09:49:04
1     00000000000000           330031          Y4 2018-01-01 09:58:08
2     00000000000000           330031          I4 2018-01-01 14:11:51
3     00000000000000           330031          Y4 2018-01-01 14:23:32
4     00000000000000           330031          I4 2018-01-01 14:52:09
5     00000000000000           330031          I4 2018-01-01 16:15:52
6     58668700100170           100250          Y4 2018-01-01 11:06:44
7     59928400100170           220014          I3 2018-01-01 21:10:45
8     75233300100170           704583          P5 2018-01-01 05:30:09
9     19491400101070           320008          A3 2018-01-01 21:40:46
10    84509600101270           500584          A3 2018-01-01 16:40:44
11    96513700101370           100250          Y4 2018-01-01 10:59:45
12    01576100101470           880580          Z4 2018-01-01 12:03:53
13    96114600101570           880580          Z4 2018-01-01 13:04:05
14    14752700101670           420584          Z4 2018-01-01 14:48:17
15    10362200101870           320000          A3 2018-01-01 22:40:46
16    48684100101870           420584          Z4 2018-01-01 14:47:57
17    23799000101970           500600          P4 2018-01-01 21:57:12
18    92557900101970           100250          Y4 2018-01-01 10:57:30
19    82460500102170           100250          Y4 2018-01-01 10:59:52
20    98520700102570           100257          V4 2018-01-01 18:02:00
21    98520900102570           100257          V4 2018-01-01 18:03:00
22    98521100102570           100257          V4 2018-01-01 18:02:00
23    98521300102570           100257          V4 2018-01-01 18:02:00
24    61353900102870           420584          Z4 2018-01-01 14:47:13
25    72423900102970           500600          P4 2018-01-01 21:57:50
26    79068700102970           100250          Y4 2018-01-01 11:00:50
27    32588100103170           100250          Y4 2018-01-01 10:58:12
28    76287300103170           420009          Y4 2018-01-01 15:55:09
29    76287300103170           420009          H4 2018-01-01 17:11:26
...                    ...        ...         ...                 ...
9970  03309940100918           100572          I4 2018-01-02 13:32:55
9971  03310040100918           400009          A1 2018-01-02 15:57:00
9972  03310140100918           400009          A1 2018-01-02 15:57:00
9973  03310240100918           400009          A1 2018-01-02 15:57:00
9974  03310340100918           400009          A1 2018-01-02 15:57:00
9975  03446840100918           400584          Y4 2018-01-02 08:14:21
9976  03446840100918           400584          I4 2018-01-02 12:57:59
9977  03446940100918           400589          Y4 2018-01-02 09:44:54
9978  03446940100918           400589          I4 2018-01-02 17:53:28
9979  03447040100918           400047          Y4 2018-01-02 10:06:55
9980  03447040100918           400047          I4 2018-01-02 14:33:49
9981  03447140100918           400589          Y4 2018-01-02 08:40:19
9982  03447140100918           400589          I4 2018-01-02 12:38:44
9983  03447240100918           100598          Y4 2018-01-02 09:16:59
9984  03447240100918           100598          I4 2018-01-02 13:17:52
9985  03447340100918           400584          Y4 2018-01-02 07:43:25
9986  03447340100918           400584          I4 2018-01-02 15:50:42
9987  03447440100918           200600          Y4 2018-01-02 09:13:08
9988  03447440100918           200600          I4 2018-01-02 13:26:48
9989  03447540100918           420032          Z4 2018-01-02 06:31:36
9990  03447540100918           420037          Y4 2018-01-02 09:26:40
9991  03447540100918           420037          I4 2018-01-02 14:41:45
9992  03447640100918           400584          Y4 2018-01-02 07:21:37
9993  03447640100918           400584          I4 2018-01-02 15:50:44
9994  03447740100918           830600          Y4 2018-01-02 08:37:57
9995  03447740100918           830600          I4 2018-01-02 14:39:43
9996  05579140100916           400009          A1 2018-01-02 16:46:00
9997  05579140100916           400672          Z4 2018-01-02 21:16:18
9998  05579240100916           400009          A1 2018-01-02 16:46:00
9999  05579240100916           400672          Z4 2018-01-02 20:30:37

[10000 rows x 4 columns]

In [11]:
post_office = pd.read_csv("../../fychao/Post_All_new.csv")

In [12]:
new_po = post_office[["郵務局號", "局名", "緯度", "經度"]]

In [13]:
new_po.columns=["post_code", "name", "lon", "lat"]

In [14]:
po_dict = new_po.set_index("post_code").to_dict()

In [15]:
def getPOInfo(post_code):
    if isPOCode(post_code):
        return (po_dict['name'][post_code],
                po_dict['lon'][post_code],
                po_dict['lat'][post_code] )
    else:
        return ("%s"%(post_code), "", "")

In [16]:
unique_po_code = set(po_dict['name'].keys())
def isPOCode(post_code):
    if post_code in unique_po_code:
        return True
    else:
        return False

In [17]:
getPOInfo(420584)

('420584', '', '')

In [20]:
all_mail = {}
all_mail_key = set()
for idx, row in df.iterrows():
    mail_code = row.Mail_num.strip()
    if not mail_code in all_mail_key:
        all_mail[mail_code] = []
        all_mail_key.add(mail_code)
        
    all_mail[mail_code].append( (row.OP_office, row.Mail_datetime, row.Status_code) )

AttributeError: 'Series' object has no attribute 'Mail_num'

In [19]:
def convert_2_edge(mail_status):
    edges = []
    for idx in range(len(mail_status)-1):
        edges.append( ( mail_status[idx][0], mail_status[idx+1][0], 
                      mail_status[idx][2], mail_status[idx+1][2]))
        
    return edges
# "Y4" -> "H4", 
# "H4" -> "Z2"

mail_status = all_mail['96410700000070']
convert_2_edge(mail_status)

KeyError: '96410700000070'